
<div class="col-sm" style="text-align: right;">
    <button mat-raised-button color="primary">Edit</button> 
</div>
<div class="mat-elevation-z8">
    <table>
        <tr> 
            <th>id</th>
            <th>Name</th> 
            <th>Source</th> 
            <th>Type</th> 
            <th>View</th> 
            <th>Edit</th> 
         </tr>
        <tr *ngFor="let row of data">
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.src }}</td>
            <td>{{ row.type }}</td>
            <td><a routerLink="/view/{{ row.id }}">View</a></td>
            <td><a routerLink="/edit/{{ row.id }}">Edit</a></td>
        </tr>
    </table>
 </div>
